/*

Joel Cano i Puigvert
Last update: 29/07/2023
https://github.com/llop10101

*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1D1D1D;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .member {
    margin: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }

  b{
    font-size: 40px;
  }
  
  .member p {
    font-size: 16px;
    font-weight: normal;
  }

  @media (max-width: 1110px) {

    b{
        font-size: 30px;
      }

    .member p {
        font-size: 12px;
    }
  }
  