/*

Joel Cano i Puigvert
Last update: 26/06/2025
https://github.com/llop10101

*/

body {
    margin: 0;
    padding: 0;
  }

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h6 {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  border-left: 0px;
  margin-left: 0px;
  font-weight: normal;
  text-transform: capitalize;
}

p{
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

iframe {
  width: 80%;
  height: 100%;
}

.bases_concurs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;

}