.logos-container {
    color:#1D1D1D;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-color: #D91E01;
    border-image-slice: 1;
    background-color: #FFFFFF;  
  }
  
  .logo-item {
    margin-left:10px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .logo-item img {
    max-width: 100%;
    height: 200px;
  }

  .logo-item img:hover {
    transform: scale(1.1);
  }