/*

Joel Cano i Puigvert
Last update: 27/07/2023
https://github.com/llop10101

*/

.countdown-container {
  font-family: 'Rubik', sans-serif; /* Use Rubik font */
  display: flex; /* Convertim el container en un flexbox */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Assegurem que ocupa tot l'espai disponible en altura */
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  overflow: hidden;
}

.countdown-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 360px;
}

.countdown-rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0px;
  background-color: #414141;
  flex: 1; 
}

.countdown-value {
   font-size: 80px;
   font-weight: bold;
}

.countdown-label {
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
}

/* Estils per a pantalles més petites que 1110px */
@media (max-width: 1110px) {
  .countdown-rectangle{
    width: 100%;
  }
  .countdown-row {
    height: 90px;
  }
  .countdown-value {
    font-size: 16px;
  }
  .countdown-label {
    font-size: 8px;
  }
}
