.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-content {
    background-color: #FFFFFF;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;

    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    position: relative; /* Afegit per alineació de close-button */
  }
  
  .close-button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.5vw;
    color: #D1D1D1;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
  }
  
  .close-button:hover {
    color: #1D1D1B;
  }
  
  .icon-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 25px;
    align-items: center;
  }

  .icon-instagram,
  .icon-facebook,
  .icon-twitter,
  .icon-tiktok {
    color: #ccc; /* Color de grisos inicial */
    font-size: 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
    transition: color 0.3s; /* Transició de color en l'hover */
  }

.icon-instagram:hover {
  color: #fff;
  background-image: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.icon-facebook:hover {
  color: #3b5998;
}

.icon-twitter:hover {
  color: #00acee;
}

.icon-tiktok:hover {
  color: black;
}

