/*

Joel Cano i Puigvert
Last update: 27/07/2023
https://github.com/llop10101

*/

body {
    margin: 0;
    padding: 0;
  }

h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h6 {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  border-left: 0px;
  margin-left: 0px;
  font-weight: normal;
}

p{
  margin-left: 10px;
}