/* styles.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 44px;
    margin-bottom: 20px;
    background-color: #1D1D1D;
    color:#f1f1f1;
    margin: 0px;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  form {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  label {
    margin:10px;
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #D91E01;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #414141;
    margin: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button[type="button"] {
    background-color: #88f436;
  }
  
  .person-tiles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .person-tile {
    flex-basis: 300px;

  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-collapse: collapse;
    border-spacing: 0;
    white-space: nowrap;
  }
  
  .header {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
  }
  
  .field {
    text-align: center;
    padding: 5px 
  }
  
  .grid-container > :nth-child(1n) {
    border: 1px solid #ccc;
  }
  

.form-group {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    width: 90%;
  }
  
  .form-group > label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group > input {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .edit-button {
    width: 80px; /* Canvia a l'amplada desitjada per al botó d'editar */
  }
  
  .delete-button {
    width: 100px; /* Canvia a l'amplada desitjada per al botó d'eliminar */
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  