.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 2s;
    margin: 20px;
  }
  
  .hovered {
    background-color: #414141;
    transform: scale(1.05);
    transition: transform 1s;
    
}
  
  .hovered .text {
    color: #F1F1F1;
  }

  .text {
    justify-content: justify;
    font-family: 'Rubik', sans-serif;
    color: #1D1D1D;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    margin: 50px;
    cursor: default;
  }
  
  @media (max-width: 1110px) {
  .circle {
    width: 250px;
    height: 250px;
  }
  .text {
    font-size: 10px;
  }
  }
