.team-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team-member-card {
  margin-bottom: 0px;
}

.team-member-card__name {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.team-member-card__rol {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-top: 70px;
}