.team-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.team-member-card {
  margin-bottom: 20px;
}

.team-member-card__name {
  font-size: 18px;
  font-weight: bold;
}
