.gif-container {
  position: relative;
  width: 320px;
  height: 320px; 
}

.gif {
  width: 100%;
  width: 100%;
  animation: moveAndPause 10.01s ease infinite;
}

@keyframes moveAndPause {
  0%{
  } 
  45% {
    transform: translateX(20vw);
  }
  45%, 60% {
    transform: translateX(20vw);
  }
  65% {
    transform: translateX(40vw);
  }
  65%, 70%{
    transform: translateX(40vw);
  }
  75%{
    transform: translateX(60vw);
  }
  75%, 80% {
    transform: translateX(60vw)
  }
  85%{
    transform: translateX(80vw);
  }
  85%, 93%{
    transform: translate(80vw);
  }
  100%{
    transform: translateX(100vw);
  }
}
