/*

Joel Cano i Puigvert
Last update: 27/07/2023
https://github.com/llop10101

*/

.gif-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif {
  max-width: 100%;
  height: auto;
}
