.director-body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-position: center center;
    background-image: url('./../../images/banners/pattern.avif');
    background-repeat: repeat;
  }
  
  .director-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .director-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .director-header h1 {
    color: #333;
  }
  
  .director-content {
    color: #555;
    line-height: 1.6;
  }
  
  .director-footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
  }