.navbar {
    background:#ffffff; /* Color de fons de la navigation bar */
    height: 80px; /* Alçada de la navigation bar */
    display: flex; /* Posició de la navigation bar */
    justify-content: center; /* Justificació del contingut */
    align-items: center; /* Justificació dels items de la navigation bar */
    font-size: 20px; /* Tamany del text de la navigation bar */
    margin : 0 auto; /* Elimina el default margin */
    max-width: 1600px; /* Estableix el màxim d'amplada */
    position: relative;
    z-index: 2;
  }
  
  .navbar-logo {
    display: flex; /* Posició del logo dins la navigation bar */
    align-items: center; /* Alineació del logo dins la navigation bar */
    margin-left: 20px; /* Marge del logo */
    cursor: pointer; /* Quan el cursor passa per sobre es converteix en una mà, per indicar que és clickable */
  }
  
  .navbar-logo img{
    margin-left: 10px;
    width: 250px; /* Estableix l'amplada de la imatge */
    height: 80px; /* Estableix l'alçada de la imatge */
  }

  .fa-firstdraft {
    margin-left: 0.5rem; /* No tocar */
    font-size: 1.6rem; /* No tocar */
  }
  
  .nav-menu {
    display: flex; /* Posició del menú dins la navigation bar */
    justify-content: right; /* Alineació dels elements del menú al centre */
    list-style: none; /* Sense estil */
    text-align: center; /* Text alineat al centre */
    width: 100%; /* Canvi del tamany al 100% */
    padding: 0; /* No hi ha padding */
    margin-right: 50px; /* Elimina el dafault margin */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */    

    font-size: 18px;
  }
  
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center; /* Add this line to center the text vertically */
  }
  
  .nav-links {
    color: #1D1D1B; /* Color dels text que es veuen, no inclou el dropdown */
    text-decoration: none; /* No té decoració el text */
    padding-left: 1.2rem;
    padding-right:1.2rem;
    padding-top:30px;
    padding-bottom:30px;
  }
  
  .nav-links:hover {
    background-color: #D91E01; /* Background color on hover, no inclou el dropdown */
    color :#fff; /* Color del text on hover, no inclou el dropdown */
    transition: all 0.2s ease-out; /* Temps que tarda en fer la transició entre els colors */
  }
  
  .fa-bars {
    color: #fff; /* No tocar */
  }
  
  .nav-links-mobile {
    display: none; /* No tocar */
  }
  
  .menu-icon {
    display: none; /* No tocar */
  }
  /* Reactive */
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex; /* Posició dins el menú */
      flex-direction: column; /* Es mostra com a columnes */
      width: 100%; /* Amplada del 100% */
      height: 90vh; /* Alçada */
      position: absolute; /* Posició fixa absoluta */
      top: 80px; /* Distancia del top */
      left: -100%; /* Separació respecte la esquerra */
      opacity: 1; /* Opacitat completa */
      transition: all 0.5s ease; /* Temps que tarda en fer la transició */
    }
  
    .nav-menu.active {
      background: #1D1D1B; /* Color de fons del menu */
      left: 0; /* Distancia respecte l'esquerra */
      opacity: 1; /* Opacitat complerta */
      transition: all 0.5s ease; /* Temps que tarda en fer la transició */
      z-index: 1; /* Posició sobre quin va davant */
    }
  
    .nav-links {
      text-align: center; /* Posició dels drop down elements */
      padding: 2rem; /* Padding */
      width: 100%; /* Amplada del 100% */
      display: table; /* Es mostra en forma de taula */
    }
  
    .navbar-logo {
      position: absolute; /* Posició absoluta */
      top: 0; /* Espai respecte top */
      left: 0; /* Espai respecte l'esquerra */
      transform: translate(25%, 50%); /* Posició */
    }
  
    .nav-links-mobile {
      display: block; /* No tocar */
      text-align: center; /* Alineació del text al centre */
      padding: 1.5rem; /* Padding */
      margin: 2rem auto; /* Marge */
      width: 80%; /* Amplada d'un 80% */
      color: #fff; /* Color del text */
      font-size: 1.5rem; /* Tamany del text */
    }
  
    .nav-links-mobile:hover {
      background: #fff; /* Color de fons on hover */
      color: #e7e7e7; /* Color del text on hover */
      transition: 250ms; /* Temps de transició */
    }
  
    button {
      display: none; /* No tocar */
    }
  }



  /* Provisional */
  h2{
    text-align: center;
  }